.container {
    width: 768px;
    margin: 0 auto;
}
#result {
    margin: 50px auto;
    font-family: 'Piazzolla', serif;
    font-size: 20px;
}

.fieldset {
    margin-bottom: 25px;
    padding: 15px;
}

.legend {
    padding: 15px 20px;
    font-family: 'Piazzolla', serif;
    font-size: 20px; 
    font-weight: 300;
    color: #05618d;
}

.label {
    font-family: 'Courier Prime', monospace;
    font-size: 18px;  
}

#my-input {
    padding: 10px 15px;
    color: #747778;
}

#submit {
    padding: 5px 20px;
    font-family: 'Piazzolla', serif;
    font-size: 20px; 
    background-color: #05618d;
    color: #ffffff;
    border: none;
}
#submit:hover {
    background-color: #ffffff;
    color: #05618d;
    border: 2px solid #05618d;
    }




